<template>
  <div>
      <table>
        <thead>
          <tr>
            <th v-for="date in dates">{{date}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td v-for="data in month_to_dates">
              {{data}}
            </td>
          </tr>
        </tbody>
      </table>
    <p @click="hi">hi</p>
  </div>
</template>

<script>
export default {
  props: ["mtd"],
  data() {
    return {
      month_to_dates: this.mtd
    };
  },
  methods: {
    hi() {
      console.log(this.month_to_dates);
    }
  },
  computed: {
    dates() {
      var keys = [];
      for (var key in this.month_to_dates) {
        keys.push(key.slice(-2) + "-" + key.slice(0, 4));
      }
      return keys;
    }
  }
};
</script>

<style scoped>
thead {
  display: inline-flex;
}

th {
  padding-left: 30px;
}
</style>