<template>
  <div>
    <vue-single-select
      v-model="accountNumber"
      :options="accounts"
      :required="true"
      style="width:30%"
      placeholder="Select Fund Account">
    </vue-single-select>
      <canvas style="height:50%;width:50%"ref="chart"></canvas>
      <datepicker :format="customFormatter"></datepicker>
      <div class="break"></div>
      <table class="table" style="background-color:rgba(0,0,0,0);border-radius: 10px">
			<thead>
        <tr>
        <th @click="getProfitAndLossByAccount" style="font-weight:bold">Date datetime</th>
        <th style="font-weight:bold">Fund account</th>
        <th style="font-weight:bold">Inflow</th>
        <th style="font-weight:bold">Outflow</th>
        <th style="font-weight:bold">Nav</th>
        <th style="font-weight:bold">Opening balance</th>
        <th style="font-weight:bold">Closing balance</th>
        <th style="font-weight:bold">Daily pnl</th>
        <th style="font-weight:bold">Cum pnl</th>
        <th style="font-weight:bold">Daily percent</th>
        <th style="font-weight:bold">Cum percent</th>
        <th style="font-weight:bold" colspan="3"></th>
        </tr>
			</thead>

			<tbody>
				<tr v-for="pnl in profit_and_losses"  :key="pnl.id" @click='printpnl(pnl.date, pnl.fund_account)'>
					<td>{{pnl.date.substring(0,10)}}</td>
					<td>{{ pnl.fund_account }}</td>
					<td>{{ pnl.inflow }}</td>
					<td>{{ pnl.outflow }}</td>
					<td>{{ pnl.nav }}</td>
					<td>{{ pnl.opening_balance }}</td>
					<td :class="[ pnl.closing_balance >= 0 ? 'font-green' : 'font-red' ]">{{ pnl.closing_balance }}</td>
					<td :class="[ pnl.daily_pnl >= 0 ? 'font-green' : 'font-red' ]">{{ pnl.daily_pnl }}</td>
					<td :class="[ pnl.cum_pnl >= 0 ? 'font-green' : 'font-red' ]">{{ pnl.cum_pnl }}</td>
					<td>{{ pnl.daily_percent }}</td>
					<td>{{ pnl.cum_percent }}</td>
				</tr>
			</tbody>
    </table>

    <div v-if="showModal == true" class="modal-mask" transition="modal">
        <div class="modal-container" style="">

            <div @click="showModal = !showModal" class="modal-header">
                <h3>Financial Transactions</h3>
            </div>

              <table class="modal-table" style="background-color:rgba(0,0,0,0);border-radius: 10px">
                <thead>
                  <tr>
                  <th style="font-weight:bold;color:gray;;border:none">Value Date</th>
                  <th style="font-weight:bold;color:gray;width: 10%;;border:none">Transaction ID</th>
                  <th style="font-weight:bold;color:gray;width: 10%;;border:none">Fund Account</th>
                  <th style="font-weight:bold;color:gray;width:20%;border:none">Fund Name</th>
                  <th style="font-weight:bold;color:gray;width: 10%;border:none;">Transaction Code</th>
                  <th style="font-weight:bold;color:gray;border:none">Amount</th>
                  <th style="font-weight:bold;color:gray;width:15%;border:none">Transaction Description</th>
                  <th style="font-weight:bold;color:gray;width:10%;border:none%">Transaction ID</th>
                  <th style="font-weight:bold;color:gray;width: 10%;border:none;">BDA Partner Code</th>
                  <th style="font-weight:bold;color:gray;width:50;border:none%">Instrument Code</th>
                  </tr>
                </thead>

                <tbody>
                  <tr v-for="ft in financialTransactions"  :key="ft.id">
                    <td style="color:gray;border:none">{{ ft.value_date.substring(0,10) }}</td>
                    <td style="color:gray;border:none">{{ ft.transaction_id }}</td>
                    <td style="color:gray;border:none">{{ ft.fund_account }}</td>
                    <td style="color:gray;border:none">{{ ft.fund_name }}</td>
                    <td style="color:gray;border:none">{{ ft.transaction_code }}</td>
                    <td style="color:gray;border:none">{{ ft.amount }}</td>
                    <td style="color:gray;border:none">{{ ft.transaction_description }}</td>
                    <td style="color:gray;border:none">{{ ft.reversed_transaction_id }}</td>
                    <td style="color:gray;border:none">{{ ft.bda_partner_code }}</td>
                    <td style="color:gray;border:none">{{ ft.instrument_code }}</td>
                  </tr>
                </tbody>
              </table>

            <div class="modal-footer text-right">
                <button class="modal-default-button btn first" @click="showModal = !showModal">
                    Close
                </button>
            </div>

        </div>
    </div>

  </div>
</template>

<script>
import Chart from "chart.js";
import Datepicker from "vuejs-datepicker";
import VueSingleSelect from "vue-single-select";
export default {
  components: { Datepicker, VueSingleSelect },
  props: [
    "graph_details",
    "portfolio_valuation",
    "profit_and_loss",
    "fund_accounts"
  ],
  data() {
    return {
      financialTransactions: [],
      portfolio_valuations: [],
      profit_and_losses: this.profit_and_loss,
      accountNumber: null,
      accounts: this.fund_accounts,
      graph_detail: this.graph_details,
      filterAccount: 0,
      filterDate: "",
      showModal: false
    };
  },
  methods: {
    printpnl(date, account) {
      (this.filterDate = date), (this.filterAccount = account);
      var data = new FormData();
      data.append("financial_transaction[fund_account]", this.filterAccount);
      data.append("financial_transaction[value_date]", this.filterDate);
      Rails.ajax({
        url: "financial_transactions/get_ft_by_fund_account_and_date",
        type: "POST",
        data: data,
        dataType: "json",
        success: data => {
          console.log(data);
          this.financialTransactions = data;
          this.showModal = true;
        }
      });
    },
    customFormatter(date) {
      this.date = new Date("223016");
    },
    getProfitAndLossByAccount() {
      var data = new FormData();
      data.append("profit_and_loss[fund_account]", this.accountNumber);
      Rails.ajax({
        url: "profit_and_losses/get_profit_and_loss_by_fund_account",
        type: "POST",
        data: data,
        dataType: "json",
        success: data => {
          console.log(data[1]);
          console.log(data[0]);
          this.profit_and_losses = data[1];
          this.graph_detail = data[0];
          this.getGraph(data[0]);
        }
      });
    },
    getGraph(data) {
      var chart = this.$refs.chart;
      var ctx = chart.getContext("2d");
      var myChart = new Chart(ctx, {
        type: "bar",
        data: {
          portfolio_valuations: this.portfolio_valuation,
          labels: this.graph_detail.list_date,
          datasets: [
            {
              label: "Daily PnL: ",
              data: this.graph_detail.list_daily_pnls,
              backgroundColor: this.graph_detail.colours,
              borderColor: this.graph_detail.colours,
              borderWidth: 4
            }
          ],
          datasetIndex: {
            dataIndex: this.graph_details["list_pnl_ids"]
          }
        },
        options: {
          events: ["click"],
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                },
                scaleLabel: {
                  display: true,
                  labelString: "Moola",
                  fontSize: 20
                }
              }
            ]
          }
        }
      });
    }
  },
  mounted() {
    var data = this.graph_detail;
    this.getGraph(data);
  },
  watch: {
    accountNumber: function(value) {
      if (value != null) {
        this.getProfitAndLossByAccount(value);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.break {
  margin-top: 40px;
}
.table {
  position: center;
  margin-top: 8%;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  overflow-y: scroll;
}

.modal-container {
  width: 90%;
  margin: 30px 5% 0;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.33);
  transition: all 0.5s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
  align-content: center;
  margin-left: 40%;
  font-size: 30px;
  font-weight: bold;
}

.modal-body {
  margin: 20px 0;
}

.text-right {
  text-align: right;
}

.form-label {
  display: block;
  margin-bottom: 1em;
}

.form-label > .form-control {
  margin-top: 0.5em;
}

.modal-table > tr > th > td {
  color: gray !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  line-height: 1.5;
  border: 1px solid #ddd;
}

.modal-enter,
.modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #21ce99;
  border-radius: 0.6em;
  color: #21ce99;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px #21ce99 inset;
  }
}
</style>