<template>
  <div>
      <vue-single-select
        @select="printRef"
        v-model="accountNumber"
        :options="accounts"
        :required="true"
        style="width:30%"
        placeholder="Select Fund Account">
    </vue-single-select>

    <canvas style="height:50%;width:50%" ref="chart2"></canvas>

    <div style="margin-top:20px"></div>
    <div class="table-small">
      <table class="table" style="background-color:rgba(0,0,0,0);border-radius: 10px;overflow:scroll;height:700px !important;display: block;">
        <thead>
          <tr>
          <th style="font-weight:bold">Date</th>
          <th @click="printRef" style="font-weight:bold">Fund account</th>
          <th style="font-weight:bold">Fund Name</th>
          <th style="font-weight:bold">Quantity</th>
          <th style="font-weight:bold">Price</th>
          <th style="font-weight:bold">Wac Native</th>
          <th style="font-weight:bold">Cum Percent</th>
          <th style="font-weight:bold">Instrument Code Name</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="pv in portfolio_valuation" @click="print(pv.instrument_code_name, pv.fund_account)">
            <td>{{pv.valuation_date.substring(0,10)}}</td>
            <td>{{ pv.fund_account }}</td>
            <td>{{ pv.fund_name }}</td>
            <td>{{ pv.quantity }}</td>
            <td>{{ pv.price }}</td>
            <td :class="[ pv.wac_native>= 0 ? 'font-green' : 'font-red' ]">{{ pv.wac_native }}</td>  
            <td :class="[ pv.cum_percent>= 0 ? 'font-green' : 'font-red' ]">{{ pv.cum_percent }}</td>  
            <td>{{ pv.instrument_code_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js";
import VueSingleSelect from "vue-single-select";
export default {
  components: { VueSingleSelect },
  props: [
    "portfolio_valuation_graph_detail",
    "portfolio_by_account",
    "portfolio_valuations",
    "fund_accounts"
  ],
  data() {
    return {
      accounts: this.fund_accounts,
      accountNumber: 0,
      portfolio_valuation: this.portfolio_valuations,
      graph_data: this.portfolio_valuation_graph_detail
    };
  },
  methods: {
    printRef() {
      console.log("hi");
      // this.$refs.chart2.outerHTML = (
      // <canvas style="height:50%;width:50%" ref="chart2" />
      // );
    },
    print(account_name, fund_account) {
      console.log(account_name);
      console.log(fund_account);
      this.getGraphDetails(account_name, fund_account);
    },

    getGraphDetails(account_name, fund_account) {
      var data = new FormData();
      data.append("portfolio_valuation[instrument_code_name]", account_name);
      data.append("portfolio_valuation[fund_account]", fund_account);

      Rails.ajax({
        url: "portfolio_valuations/get_report_graph_portfolio_valuations",
        type: "POST",
        data: data,
        dataType: "json",
        success: data => {
          console.log(data);
          this.graph_data = data;
          this.getGraph(data);
        }
      });
    },
    getAccountPortfolioValuations(fund_account) {
      var data = new FormData();
      data.append("portfolio_valuation[fund_account]", fund_account);

      Rails.ajax({
        url: "portfolio_valuations/get_portfoilio_valuation_details",
        type: "POST",
        data: data,
        dataType: "json",
        success: data => {
          console.log(data);
          this.portfolio_valuation = data;
        }
      });
    },
    getGraph(data) {
      var chart = null;
      var myChart = null;
      var ctx = null;
      chart = this.$refs.chart2;
      ctx = chart.getContext("2d");
      myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: this.graph_data[2],
          datasets: this.graph_data[1],
          backgroundColor: "#fff"
        },
        options: {
          events: ["click"],
          scales: {
            yAxes: [
              {
                gridLines: {
                  display: true,
                  color: "#666666"
                },
                ticks: {
                  beginAtZero: false
                }
              }
            ]
          }
        }
      });
    }
  },
  mounted() {
    data = this.graph_data;
    this.getGraph(data);
  },
  watch: {
    accountNumber: function(value) {
      if (value != null) {
        this.getAccountPortfolioValuations(value);
      }
    }
  }
};
</script>

<style scoped>
.table {
  position: center;
  margin-left: 5%;
  margin-top: 8%;
}
</style>