<template>
  <div id="content">

    <div class="tabs">
      <table>
        <tr class="headers">
          <h3 @click="pnlShow">Profit &amp; Loss</h3>
          <h3 @click="pvShow">Portfolio Valuation</h3>
          <h3 @click="mtdShow">Month To Date</h3>
          <h3>Year To Date</h3>
        </tr>
      </table>
    </div>

    <div v-if="pnl == true">
      <pnl :profit_and_loss='profit_and_loss' :graph_details='graph_details' :fund_accounts="fund_accounts" :portfolio_valuation='portfolio_valuation' ></pnl>
    </div>

    <div v-if="pv == true">
      <port-val :get_profit_and_loss_by_account='get_profit_and_loss_by_account' :portfolio_valuation_graph_detail='portfolio_valuation_graph_detail' :fund_accounts="fund_accounts" :portfolio_by_account='portfolio_by_account' :portfolio_valuations="portfolio_valuation"></port-val>
    </div>

    <div v-if="mtd == true">
      <mtds :mtd='month_to_dates'></mtds>
    </div>

  </div>

</template>

<script>
import Chart from "chart.js";
import pnl from "./pnl.vue";
import mtds from "./mtd.vue";
import port_val from "./port-val.vue";

export default {
  components: { pnl, "port-val": port_val, mtds },
  props: [
    "profit_and_loss",
    "graph_details",
    "portfolio_valuation",
    "portfolio_by_account",
    "portfolio_valuation_graph_detail",
    "fund_accounts",
    "month_to_dates"
  ],
  data() {
    return {
      portfolio_valuations: this.portfolio_valuation,
      pnl: true,
      pv: false,
      mtd: false,
      ytd: false
    };
  },
  methods: {
    pnlShow() {
      this.pnl = true;
      this.pv = false;
      this.mtd = false;
      this.ytd = false;
    },
    pvShow() {
      this.pnl = false;
      this.pv = true;
      this.mtd = false;
      this.ytd = false;
    },
    mtdShow() {
      this.pnl = false;
      this.pv = false;
      this.mtd = true;
      this.ytd = false;
    }
  }
};
</script>

<style scoped>
.table-small {
  height: 700px;
}

.headers {
  display: inline-flex;
  position: center;
  width: 200%;
  padding-bottom: 50px;
}
h3 {
  padding-left: 10%;
  color: white;
  cursor: pointer;
}

h3:hover {
  cursor: pointer;
  color: #21ce99;
}
</style>
