<template>
  <div>
    <div class="table-small">
      <table class="table" style="background-color:rgba(0,0,0,0);border-radius: 10px;overflow:scroll;height:700px !important;display: block;">
        <thead>
          <tr>
          <th style="font-weight:bold">Date</th>
          <th style="font-weight:bold">Fund account</th>
          <th style="font-weight:bold">Fund Name</th>
          <th style="font-weight:bold">Quantity</th>
          <th style="font-weight:bold">Price</th>
          <th style="font-weight:bold">Wac Native</th>
          <th style="font-weight:bold">Instrument Code Name</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="pv in portfolio_valuations"  :key="pv.id">
            <td>{{pv.valuation_date.substring(0,10)}}</td>
            <td>{{ pv.fund_account }}</td>
            <td>{{ pv.fund_name }}</td>
            <td>{{ pv.quantity }}</td>
            <td>{{ pv.price }}</td>
            <td :class="[ pv.wac_native>= 0 ? 'font-green' : 'font-red' ]">{{ pv.wac_native }}</td>
            <td>{{ pv.instrument_code_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      portfolio_valuations = []
    }
  },
  mounted() {
    Rails.ajax({
      url: "profile/get_portfolio_valuation",
      type: "GET",
      dataType: "json",
      success: data => {
        console.log(data);
        console.log("hi");
        this.portfolio_valuations = data;
      }
    });
  }
};
</script>

<style scoped>
</style>