<%= form_with(model: client_category_to_instrument, local: true) do |form| %>
  <% if client_category_to_instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_category_to_instrument.errors.count, "error") %> prohibited this client_category_to_instrument from being saved:</h2>

      <ul>
      <% client_category_to_instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_category %>
    <%= form.text_field :client_category %>
  </div>

  <div class="field">
    <%= form.label :instrument_level %>
    <%= form.number_field :instrument_level %>
  </div>

  <div class="field">
    <%= form.label :margin_rate %>
    <%= form.text_field :margin_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
