<h1>Editing Client Category To Instrument</h1>

<%= render 'form', client_category_to_instrument: @client_category_to_instrument %>

<%= link_to 'Show', @client_category_to_instrument %> |
<%= link_to 'Back', client_category_to_instruments_path %>
