<p id="notice"><%= notice %></p>

<h1>Client Category To Instruments</h1>

<table>
  <thead>
    <tr>
      <th>Client category</th>
      <th>Instrument level</th>
      <th>Margin rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_category_to_instruments.each do |client_category_to_instrument| %>
      <tr>
        <td><%= client_category_to_instrument.client_category %></td>
        <td><%= client_category_to_instrument.instrument_level %></td>
        <td><%= client_category_to_instrument.margin_rate %></td>
        <td><%= link_to 'Show', client_category_to_instrument %></td>
        <td><%= link_to 'Edit', edit_client_category_to_instrument_path(client_category_to_instrument) %></td>
        <td><%= link_to 'Destroy', client_category_to_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Category To Instrument', new_client_category_to_instrument_path %>
