<p id="notice"><%= notice %></p>

<p>
  <strong>Client category:</strong>
  <%= @client_category_to_instrument.client_category %>
</p>

<p>
  <strong>Instrument level:</strong>
  <%= @client_category_to_instrument.instrument_level %>
</p>

<p>
  <strong>Margin rate:</strong>
  <%= @client_category_to_instrument.margin_rate %>
</p>

<%= link_to 'Edit', edit_client_category_to_instrument_path(@client_category_to_instrument) %> |
<%= link_to 'Back', client_category_to_instruments_path %>
