<template>
<div>
<div v-if="barGraph == false" style="padding-bottom:50px;">
  <trend
    :data="graphData"
    auto-draw
    smooth
    :gradient="['#6fa8dc', '#42b983']">
  </trend>
</div>

<div v-if="barGraph == true">
  <bars
    :data="graphData"
    :gradient="['#ffbe88', '#ff93df']"
    :barWidth="0.5"
    :growDuration="5">
  </bars>
</div>
<div class="btn btn-info" format="YY-MM-DD-HH-MM-SS" @click="barGraph = !barGraph">Switch Graph</div>

  <div class="row" margin-top>
    <vue-single-select
      v-model="accountNumber"
      :options="accounts"
      :required="false"
      @mousedown="printDropdown"
      style="width:20%;background-color: rgba:(0,0,0,0)"
      placeholder="Select Account Number"
    ></vue-single-select>
    <vue-single-select
      v-model="accountDescription"
      :options="cashAccounts"
      :required="false"
      @click="printDropdown"
      style="width:20%"
    ></vue-single-select>
    <datepicker :format="customFormatter"></datepicker>
  </div>
  {{selectedDate}}

  <table class="table" style="border-radius: 10px;color:#fff">
    <thead >
      <tr>
        <th @click="sortTableFundAccount" style="font-weight:bold">Fund Account</th>
        <th>Pay Date</th>
        <th style="font-weight:bold">Cash Account</th>
        <th @click="sortTableAmount" style="font-weight:bold">Amount</th>
        <th style="font-weight:bold">Description</th>
        <th style="font-weight:bold">Fund Account </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="transaction in transactions">
        <td>{{transaction.id}}</td>
        <td>{{transaction.pay_date}}</td>
        <td>{{transaction.cash_account}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.transaction_description}}</td>
        <td>{{transaction.fund_account}}</td>
        </tr>
    </tbody>
  </table>

  <div class="btn btn-default" @click="loadMoreTransactions">Load More</div>
  </div>
</template>



<script>

import VueSingleSelect from "vue-single-select";
import Trend from 'vuetrend'
import Bars from 'vuebars'
import Datepicker from 'vuejs-datepicker';

export default {
  props: ["original_transactions", "fundAccounts"],
  components: {VueSingleSelect, Trend, Bars, Datepicker},
  data: function() {
    return {
      selectedDate: '',
      barGraph: false,
      showList: false,
      dropdownValue: "Heya",
      count: 10,
      accounts: this.fundAccounts,
      cashAccounts: ["JSE Trustees (PTY) LTD", "PGR ZAR CFD Margin"],
      placeholder: "Please select an option",
      accountDescription: '',
      accountNumber: 0,
    }
  },
  methods: {
    customFormatter(date) {
      var date1 = new Date(date)
      date1 = date1.getMonth() + 1
      console.log(Date)
      
      console.log(date1)
    },
    printDate () {
      console.log(event)
    },
    sortTableFundAccount () {
      this.transaction = this.transactions.sort((a, b) => a.fund_account.toString().localeCompare(b.fund_account));
    },
    sortTableAmount () {
      console.log("hey Mofo")
      this.transactions = this.transactions.sort((a, b) => a.amount.toString().localeCompare(b.amount));
    },
    loadMoreTransactions () {
      var count = this.original_transactions.length
      count += 25
      this.transactions = this.original_transactions.slice(0, count)
    },
    openDropDown () {
      this.showList = !this.showList
    },
    openDropDownClear () {
      this.showList = !this.showList
      this.dropdownValue = ' '
    },
    openDropDownClear (event) {
      this.showList = !this.showList
    },
    printDropdown (event) {
      console.log(event)
    },
    validateSelection (event) {
      this.placeholder = event.id
      this.selectedFundAccount = event.id
      this.disabled = true
      console.log(event.id)
    }
  },

  computed: {
    transactions () {
      if (this.accountNumber !== 0) {
        console.log("AAAAAHHHH")
        return this.original_transactions.filter(item => (item.fund_account == this.accountNumber))
      } else {
      return this.original_transactions.splice(0,5000)
      }
      return this.original_transactions.splice(0,5000)
    },
    graphData () {
      var data = []
      this.transactions.map((item) => data.push(item.amount))
      data = data.map(function(el){ return +el;});
      console.log(data)
      console.log(data.length)
      return data
    }
  }
}
</script>



<style>

#single-select {
  background-color: rgba(0,0,0,0);
  color: white;
}

.dropdown{
  background-color: #6f6f7a;
  color: white;
}


</style>
