
 <%# <%= binding.pry %>  
<%= tag.div id: :profileDashboard, data: {  graph_details: @graph_details.to_json,
                                            portfolio_valuation: @portfolio_valuations.to_json,
                                            portfolio_valuation_graph_detail: @portfolio_valuation_graph_detail.to_json,
                                            profit_and_loss: @get_profit_and_loss_by_account.to_json,
                                            fund_accounts: @user_fund_accounts.to_json,
                                            month_to_dates: @month_to_dates.to_json} %>
                                             window.store.graph_details = JSON.parse(element.dataset.graphDetails)
                                             window.store.portfolio_valuation = JSON.parse(element.dataset.portfolioValuation)
                                             window.store.portfolio_valuation_graph_detail = JSON.parse(element.dataset.portfolioValuationGraphDetail)
                                             window.store.profit_and_loss = JSON.parse(element.dataset.profitAndLoss)
                                             window.store.fund_accounts = JSON.parse(element.dataset.fundAccounts)
                                             window.store.month_to_dates = JSON.parse(element.dataset.monthToDates)
