<%= form_with(model: client_category, local: true) do |form| %>
  <% if client_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_category.errors.count, "error") %> prohibited this client_category from being saved:</h2>

      <ul>
      <% client_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fund_account %>
    <%= form.number_field :fund_account %>
  </div>

  <div class="field">
    <%= form.label :client_category %>
    <%= form.text_field :client_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
