<p id="notice"><%= notice %></p>

<h1>Client Categories</h1>

<table>
  <thead>
    <tr>
      <th>Fund account</th>
      <th>Client category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_categories.each do |client_category| %>
      <tr>
        <td><%= client_category.fund_account %></td>
        <td><%= client_category.client_category %></td>
        <td><%= link_to 'Show', client_category %></td>
        <td><%= link_to 'Edit', edit_client_category_path(client_category) %></td>
        <td><%= link_to 'Destroy', client_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Category', new_client_category_path %>
