<p id="notice"><%= notice %></p>

<p>
  <strong>Fund account:</strong>
  <%= @client_category.fund_account %>
</p>

<p>
  <strong>Client category:</strong>
  <%= @client_category.client_category %>
</p>

<%= link_to 'Edit', edit_client_category_path(@client_category) %> |
<%= link_to 'Back', client_categories_path %>
