<%= form_with(model: agc_definition_table, local: true) do |form| %>
  <% if agc_definition_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agc_definition_table.errors.count, "error") %> prohibited this agc_definition_table from being saved:</h2>

      <ul>
      <% agc_definition_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at %>
  </div>

  <div class="field">
    <%= form.label :fund_account %>
    <%= form.number_field :fund_account %>
  </div>

  <div class="field">
    <%= form.label :iress_nr %>
    <%= form.number_field :iress_nr %>
  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :fund_name %>
    <%= form.text_field :fund_name %>
  </div>

  <div class="field">
    <%= form.label :trader %>
    <%= form.text_field :trader %>
  </div>

  <div class="field">
    <%= form.label :strategy %>
    <%= form.text_field :strategy %>
  </div>

  <div class="field">
    <%= form.label :grouping1 %>
    <%= form.text_field :grouping1 %>
  </div>

  <div class="field">
    <%= form.label :grouping2 %>
    <%= form.text_field :grouping2 %>
  </div>

  <div class="field">
    <%= form.label :grouping3 %>
    <%= form.text_field :grouping3 %>
  </div>

  <div class="field">
    <%= form.label :grouping4 %>
    <%= form.text_field :grouping4 %>
  </div>

  <div class="field">
    <%= form.label :grouping5 %>
    <%= form.text_field :grouping5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
