<h1>Editing Agc Definition Table</h1>

<%= render 'form', agc_definition_table: @agc_definition_table %>

<%= link_to 'Show', @agc_definition_table %> |
<%= link_to 'Back', agc_definition_tables_path %>
