<p id="notice"><%= notice %></p>

<h1>Agc Definition Tables</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Deleted at</th>
      <th>Fund account</th>
      <th>Iress nr</th>
      <th>Client name</th>
      <th>Fund name</th>
      <th>Trader</th>
      <th>Strategy</th>
      <th>Grouping1</th>
      <th>Grouping2</th>
      <th>Grouping3</th>
      <th>Grouping4</th>
      <th>Grouping5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agc_definition_tables.each do |agc_definition_table| %>
      <tr>
        <td><%= agc_definition_table.id %></td>
        <td><%= agc_definition_table.created_at %></td>
        <td><%= agc_definition_table.updated_at %></td>
        <td><%= agc_definition_table.deleted_at %></td>
        <td><%= agc_definition_table.fund_account %></td>
        <td><%= agc_definition_table.iress_nr %></td>
        <td><%= agc_definition_table.client_name %></td>
        <td><%= agc_definition_table.fund_name %></td>
        <td><%= agc_definition_table.trader %></td>
        <td><%= agc_definition_table.strategy %></td>
        <td><%= agc_definition_table.grouping1 %></td>
        <td><%= agc_definition_table.grouping2 %></td>
        <td><%= agc_definition_table.grouping3 %></td>
        <td><%= agc_definition_table.grouping4 %></td>
        <td><%= agc_definition_table.grouping5 %></td>
        <td><%= link_to 'Show', agc_definition_table %></td>
        <td><%= link_to 'Edit', edit_agc_definition_table_path(agc_definition_table) %></td>
        <td><%= link_to 'Destroy', agc_definition_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agc Definition Table', new_agc_definition_table_path %>
