<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @agc_definition_table.id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @agc_definition_table.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @agc_definition_table.updated_at %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @agc_definition_table.deleted_at %>
</p>

<p>
  <strong>Fund account:</strong>
  <%= @agc_definition_table.fund_account %>
</p>

<p>
  <strong>Iress nr:</strong>
  <%= @agc_definition_table.iress_nr %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @agc_definition_table.client_name %>
</p>

<p>
  <strong>Fund name:</strong>
  <%= @agc_definition_table.fund_name %>
</p>

<p>
  <strong>Trader:</strong>
  <%= @agc_definition_table.trader %>
</p>

<p>
  <strong>Strategy:</strong>
  <%= @agc_definition_table.strategy %>
</p>

<p>
  <strong>Grouping1:</strong>
  <%= @agc_definition_table.grouping1 %>
</p>

<p>
  <strong>Grouping2:</strong>
  <%= @agc_definition_table.grouping2 %>
</p>

<p>
  <strong>Grouping3:</strong>
  <%= @agc_definition_table.grouping3 %>
</p>

<p>
  <strong>Grouping4:</strong>
  <%= @agc_definition_table.grouping4 %>
</p>

<p>
  <strong>Grouping5:</strong>
  <%= @agc_definition_table.grouping5 %>
</p>

<%= link_to 'Edit', edit_agc_definition_table_path(@agc_definition_table) %> |
<%= link_to 'Back', agc_definition_tables_path %>
