<%= form_with(model: instrument_margin_level, local: true) do |form| %>
  <% if instrument_margin_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instrument_margin_level.errors.count, "error") %> prohibited this instrument_margin_level from being saved:</h2>

      <ul>
      <% instrument_margin_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exchange %>
    <%= form.text_field :exchange %>
  </div>

  <div class="field">
    <%= form.label :instrument_code %>
    <%= form.text_field :instrument_code %>
  </div>

  <div class="field">
    <%= form.label :instrument_level %>
    <%= form.number_field :instrument_level %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
