<h1>Editing Instrument Margin Level</h1>

<%= render 'form', instrument_margin_level: @instrument_margin_level %>

<%= link_to 'Show', @instrument_margin_level %> |
<%= link_to 'Back', instrument_margin_levels_path %>
