<p id="notice"><%= notice %></p>

<h1>Instrument Margin Levels</h1>

<table>
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Instrument code</th>
      <th>Instrument level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instrument_margin_levels.each do |instrument_margin_level| %>
      <tr>
        <td><%= instrument_margin_level.exchange %></td>
        <td><%= instrument_margin_level.instrument_code %></td>
        <td><%= instrument_margin_level.instrument_level %></td>
        <td><%= link_to 'Show', instrument_margin_level %></td>
        <td><%= link_to 'Edit', edit_instrument_margin_level_path(instrument_margin_level) %></td>
        <td><%= link_to 'Destroy', instrument_margin_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrument Margin Level', new_instrument_margin_level_path %>
