<p id="notice"><%= notice %></p>

<p>
  <strong>Exchange:</strong>
  <%= @instrument_margin_level.exchange %>
</p>

<p>
  <strong>Instrument code:</strong>
  <%= @instrument_margin_level.instrument_code %>
</p>

<p>
  <strong>Instrument level:</strong>
  <%= @instrument_margin_level.instrument_level %>
</p>

<%= link_to 'Edit', edit_instrument_margin_level_path(@instrument_margin_level) %> |
<%= link_to 'Back', instrument_margin_levels_path %>
