<template>
  <div>
    <div class="navbar-top"></div>

  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.navbar-top {
  margin-top: 0px;
  width: 100%;
  height: 50px;
  color: gray;
  position: fixed;
}
</style>