<%= form_with(model: turnover, local: true) do |form| %>
  <% if turnover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turnover.errors.count, "error") %> prohibited this turnover from being saved:</h2>

      <ul>
      <% turnover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.number_field :month %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
