<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @turnover.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @turnover.month %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @turnover.amount %>
</p>

<%= link_to 'Edit', edit_turnover_path(@turnover) %> |
<%= link_to 'Back', turnovers_path %>
