<%= form_with(model: cash_flow_type, local: true) do |form| %>
  <% if cash_flow_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash_flow_type.errors.count, "error") %> prohibited this cash_flow_type from being saved:</h2>

      <ul>
      <% cash_flow_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
