<p id="notice"><%= notice %></p>

<h1>Cash Flow Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cash_flow_types.each do |cash_flow_type| %>
      <tr>
        <td><%= cash_flow_type.description %></td>
        <td><%= cash_flow_type.id %></td>
        <td><%= link_to 'Show', cash_flow_type %></td>
        <td><%= link_to 'Edit', edit_cash_flow_type_path(cash_flow_type) %></td>
        <td><%= link_to 'Destroy', cash_flow_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cash Flow Type', new_cash_flow_type_path %>
