<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @cash_flow_type.description %>
</p>

<p>
  <strong>Id:</strong>
  <%= @cash_flow_type.id %>
</p>

<%= link_to 'Edit', edit_cash_flow_type_path(@cash_flow_type) %> |
<%= link_to 'Back', cash_flow_types_path %>
