<template>
<div>
  {{date}}

  <div class="row">
    <div class="card col-md-4" style="height:100px;width:100px">
      <h3 style="text-align:center;font-weight:bold">Select Fund Account</h3>
      <vue-single-select
        v-model="accountNumber"
        :options="accounts"
        :value="accountPlaceholder"
        :required="true"
        style="width:100%"
        placeholder="Select Account Number">
    </vue-single-select>
    </div>
    <div class="card col-md-4" style="height:100px;width:100px">

    </div>
    <div class="card col-md-4" style="height:100px;width:100px">
      <h3 style="text-align:center;font-weight:bold">Filter Dates</h3>
      <div class="row" style="padding-left: 5%;vertical-align: top;display: flex;margin-right: 0px;margin-left: 15px;margin-top: 0px;">
        <datepicker :placeholder="'Start Date'" @selected="getStartDate" :format="'yyyy-MM-dd'"></datepicker>
        <datepicker style="margin-left:5%" :placeholder="'End Date'" @selected="getEndDate" :format="'yyyy-MM-dd'"></datepicker>
      </div>
    </div>
  </div>
  <br>

  <table class="table" style="background-color:white;border-radius: 10px">
    <thead >
      <tr style=color:#e8e8e8>
        <th style="font-weight:bold">Date</th>
        <th style="font-weight:bold">Fund Account</th>
        <th style="font-weight:bold">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="ytd in ytds">
        <td>{{ytd.date != null ? ytd.date.substring(0,10) : ytd.date }}</td>
        <td>{{ytd.fund_account}}</td>
        <td>{{ytd.value}}</td>
        </tr>
    </tbody>
  </table>
  </div>
</template>



<script>

import VueSingleSelect from "vue-single-select";
import Trend from 'vuetrend'
import Bars from 'vuebars'
import Datepicker from 'vuejs-datepicker';

export default {
  props: ["year_to_date", "fundAccounts"],
  components: {VueSingleSelect, Trend, Bars, Datepicker},
  data: function() {
    return {
      date: '',
      accountNumber: 0,
      startDate: 0,
      endDate: 0,
      accountPlaceholder: "Select account",
      accounts: this.fundAccounts,
      filterDates: false,
      filterStartDates: false,
      filterEndDates: false
    }
  },
  methods: {
    getStartDate (event) {
      this.filterDates = true
      this.filterStartDates = true
      console.log(event)

      var year = event.getFullYear().toString()
      var month = event.getMonth() + 1
      if (month < 10) {
        month = "0" + month.toString()
      } else {
        month = month.toString()
      }
      var day = event.getDate()
      if( day < 10) {
        day = "0" + day.toString()
      } else {
        day = day.toString()
      }
      var dateInt = parseInt( year + month + day)
      console.log(parseInt( year + month + day))
      this.startDate = dateInt
    },
    getEndDate (event) {
      this.filterEndDates = true
      console.log(event)

      var year = event.getFullYear().toString()
      var month = event.getMonth() + 1
      if (month < 10) {
        month = "0" + month.toString()
      } else {
        month = month.toString()
      }
      var day = event.getDate()
      if( day < 10) {
        day = "0" + day.toString()
      } else {
        day = day.toString()
      }
      var dateInt = parseInt( year + month + day)
      console.log(parseInt( year + month + day))
      this.endDate = dateInt
    }
  },
  computed: {
    ytds () {
      if (this.accountNumber !== 0 && this.filterDates == false) {
        console.log(this.accountNumber)
        return this.year_to_date.filter(item => (item.fund_account == this.accountNumber))

      } else if (this.filterStartDates == true && this.filterEndDates == false) {
        var filteredDate = []
        var start = this.startDate
        this.year_to_date.filter(function(ytds) {
          var stringYear = ytds.date.substring(0,10)
          var year = stringYear.substring(0,4)
          var month = stringYear.substring(5,7)
          var day = stringYear.substring(8,10)
          var yearInt = parseInt(year+month+day)
          console.log(yearInt)
          if (start <= yearInt) filteredDate.push(ytds)
        })
        return filteredDate

      } else if (this.accountNumber !== 0 && this.filterStartDates == true && this.filterEndDates == false ) {
        console.log("hii")
        var filteredDate = []
        var accountNumber = this.accountNumber
        var start = this.startDate
        this.year_to_date.filter(function(ytds) {
          var stringYear = ytds.date.substring(0,10)
          var year = stringYear.substring(0,4)
          var month = stringYear.substring(5,7)
          var day = stringYear.substring(8,10)
          var yearInt = parseInt(year+month+day)
          if ((start <= yearInt) && (ytds.fund_account == accountNumber)) filteredDate.push(ytds)
        })
        return filteredDate

      } else if (this.filterStartDates == true  && this.filterEndDates == true && this.accountNumber == 0) {
        var filteredDate = []
        var start = this.startDate
        var end = this.endDate
        this.year_to_date.filter(function(ytds) {
          var stringYear = ytds.date.substring(0,10)
          var year = stringYear.substring(0,4)
          var month = stringYear.substring(5,7)
          var day = stringYear.substring(8,10)
          var yearInt = parseInt(year+month+day)
          console.log(yearInt)
          if (start <= yearInt && end >= yearInt) filteredDate.push(ytds)
        })
        return filteredDate

      } else if (this.filterStartDates == true  && this.filterEndDates == true && this.accountNumber !== 0) {
        var filteredDate = []
        var start = this.startDate
        var end = this.endDate
        var accountNumber = this.accountNumber
        this.year_to_date.filter(function(ytds) {
          var stringYear = ytds.date.substring(0,10)
          var year = stringYear.substring(0,4)
          var month = stringYear.substring(5,7)
          var day = stringYear.substring(8,10)
          var yearInt = parseInt(year+month+day)
          console.log(yearInt)
          if ((start <= yearInt && end >= yearInt) && (ytds.fund_account == accountNumber)) filteredDate.push(ytds)
        })
        return filteredDate

      } else if (this.accountNumber === null || this.accountNumber === 0) {
          return this.year_to_date
      } else {
      return this.year_to_date
      }
    }
  }
}
</script>



<style>

#single-select {
  border: none
}



</style>
