<%= form_with(model: year_to_date, local: true) do |form| %>
  <% if year_to_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(year_to_date.errors.count, "error") %> prohibited this year_to_date from being saved:</h2>

      <ul>
      <% year_to_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :fund_account %>
    <%= form.number_field :fund_account %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
