<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @year_to_date.date %>
</p>

<p>
  <strong>Fund account:</strong>
  <%= @year_to_date.fund_account %>
</p>

<p>
  <strong>Value:</strong>
  <%= @year_to_date.value %>
</p>

<%= link_to 'Edit', edit_year_to_date_path(@year_to_date) %> |
<%= link_to 'Back', year_to_dates_path %>
