<%= form_with(model: iress_portfolio_cash_detail, local: true) do |form| %>
  <% if iress_portfolio_cash_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iress_portfolio_cash_detail.errors.count, "error") %> prohibited this iress_portfolio_cash_detail from being saved:</h2>

      <ul>
      <% iress_portfolio_cash_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label : id %>
    <%= form.number_field : id %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at %>
  </div>

  <div class="field">
    <%= form.label :portfolio_code %>
    <%= form.number_field :portfolio_code %>
  </div>

  <div class="field">
    <%= form.label :portfolio_cash_code %>
    <%= form.number_field :portfolio_cash_code %>
  </div>

  <div class="field">
    <%= form.label :portfolio_cash_name %>
    <%= form.text_field :portfolio_cash_name %>
  </div>

  <div class="field">
    <%= form.label :version_stamp %>
    <%= form.number_field :version_stamp %>
  </div>

  <div class="field">
    <%= form.label :create_date_time %>
    <%= form.datetime_select :create_date_time %>
  </div>

  <div class="field">
    <%= form.label :update_date_time %>
    <%= form.datetime_select :update_date_time %>
  </div>

  <div class="field">
    <%= form.label :currency_code %>
    <%= form.text_field :currency_code %>
  </div>

  <div class="field">
    <%= form.label :cash_balance %>
    <%= form.text_field :cash_balance %>
  </div>

  <div class="field">
    <%= form.label :unsettled_buy_value %>
    <%= form.text_field :unsettled_buy_value %>
  </div>

  <div class="field">
    <%= form.label :unsettled_buy_charges %>
    <%= form.text_field :unsettled_buy_charges %>
  </div>

  <div class="field">
    <%= form.label :unsettled_sell_value %>
    <%= form.text_field :unsettled_sell_value %>
  </div>

  <div class="field">
    <%= form.label :unsettled_sell_charges %>
    <%= form.text_field :unsettled_sell_charges %>
  </div>

  <div class="field">
    <%= form.label :yesterday_equity_sell_value %>
    <%= form.text_field :yesterday_equity_sell_value %>
  </div>

  <div class="field">
    <%= form.label :yesterday_equity_sell_charges %>
    <%= form.text_field :yesterday_equity_sell_charges %>
  </div>

  <div class="field">
    <%= form.label :in_market_buy_value %>
    <%= form.text_field :in_market_buy_value %>
  </div>

  <div class="field">
    <%= form.label :in_market_sell_value %>
    <%= form.text_field :in_market_sell_value %>
  </div>

  <div class="field">
    <%= form.label :net_cash %>
    <%= form.text_field :net_cash %>
  </div>

  <div class="field">
    <%= form.label :upload_source %>
    <%= form.text_field :upload_source %>
  </div>

  <div class="field">
    <%= form.label :option_unsettled_buy_value %>
    <%= form.text_field :option_unsettled_buy_value %>
  </div>

  <div class="field">
    <%= form.label :option_unsettled_buy_charges %>
    <%= form.text_field :option_unsettled_buy_charges %>
  </div>

  <div class="field">
    <%= form.label :option_unsettled_sell_value %>
    <%= form.text_field :option_unsettled_sell_value %>
  </div>

  <div class="field">
    <%= form.label :option_unsettled_sell_charges %>
    <%= form.text_field :option_unsettled_sell_charges %>
  </div>

  <div class="field">
    <%= form.label :clearing_house_margin %>
    <%= form.text_field :clearing_house_margin %>
  </div>

  <div class="field">
    <%= form.label :external_value %>
    <%= form.text_field :external_value %>
  </div>

  <div class="field">
    <%= form.label :net_unsettled_buy_value_today %>
    <%= form.text_field :net_unsettled_buy_value_today %>
  </div>

  <div class="field">
    <%= form.label :net_unsettled_sell_value_today %>
    <%= form.text_field :net_unsettled_sell_value_today %>
  </div>

  <div class="field">
    <%= form.label :net_unsettled_value_today %>
    <%= form.text_field :net_unsettled_value_today %>
  </div>

  <div class="field">
    <%= form.label :glv %>
    <%= form.text_field :glv %>
  </div>

  <div class="field">
    <%= form.label :free_equity %>
    <%= form.text_field :free_equity %>
  </div>

  <div class="field">
    <%= form.label :total_initial_margin %>
    <%= form.text_field :total_initial_margin %>
  </div>

  <div class="field">
    <%= form.label :total_cfd_realised_profit %>
    <%= form.text_field :total_cfd_realised_profit %>
  </div>

  <div class="field">
    <%= form.label :total_cfd_unrealised_profit %>
    <%= form.text_field :total_cfd_unrealised_profit %>
  </div>

  <div class="field">
    <%= form.label :total_cfd_collateral_value %>
    <%= form.text_field :total_cfd_collateral_value %>
  </div>

  <div class="field">
    <%= form.label :total_non_cfd_market_value %>
    <%= form.text_field :total_non_cfd_market_value %>
  </div>

  <div class="field">
    <%= form.label :realized_loss_start_of_day_value %>
    <%= form.text_field :realized_loss_start_of_day_value %>
  </div>

  <div class="field">
    <%= form.label :margin_lender_total_financed_value %>
    <%= form.text_field :margin_lender_total_financed_value %>
  </div>

  <div class="field">
    <%= form.label :trust_balance %>
    <%= form.text_field :trust_balance %>
  </div>

  <div class="field">
    <%= form.label :total_cfd_realized_profit_in_settlement_currency %>
    <%= form.text_field :total_cfd_realized_profit_in_settlement_currency %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
