<h1>Editing Iress Portfolio Cash Detail</h1>

<%= render 'form', iress_portfolio_cash_detail: @iress_portfolio_cash_detail %>

<%= link_to 'Show', @iress_portfolio_cash_detail %> |
<%= link_to 'Back', iress_portfolio_cash_details_path %>
