<p id="notice"><%= notice %></p>

<p>
  <strong> id:</strong>
  <%= @iress_portfolio_cash_detail. id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @iress_portfolio_cash_detail.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @iress_portfolio_cash_detail.updated_at %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @iress_portfolio_cash_detail.deleted_at %>
</p>

<p>
  <strong>Portfolio code:</strong>
  <%= @iress_portfolio_cash_detail.portfolio_code %>
</p>

<p>
  <strong>Portfolio cash code:</strong>
  <%= @iress_portfolio_cash_detail.portfolio_cash_code %>
</p>

<p>
  <strong>Portfolio cash name:</strong>
  <%= @iress_portfolio_cash_detail.portfolio_cash_name %>
</p>

<p>
  <strong>Version stamp:</strong>
  <%= @iress_portfolio_cash_detail.version_stamp %>
</p>

<p>
  <strong>Create date time:</strong>
  <%= @iress_portfolio_cash_detail.create_date_time %>
</p>

<p>
  <strong>Update date time:</strong>
  <%= @iress_portfolio_cash_detail.update_date_time %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @iress_portfolio_cash_detail.currency_code %>
</p>

<p>
  <strong>Cash balance:</strong>
  <%= @iress_portfolio_cash_detail.cash_balance %>
</p>

<p>
  <strong>Unsettled buy value:</strong>
  <%= @iress_portfolio_cash_detail.unsettled_buy_value %>
</p>

<p>
  <strong>Unsettled buy charges:</strong>
  <%= @iress_portfolio_cash_detail.unsettled_buy_charges %>
</p>

<p>
  <strong>Unsettled sell value:</strong>
  <%= @iress_portfolio_cash_detail.unsettled_sell_value %>
</p>

<p>
  <strong>Unsettled sell charges:</strong>
  <%= @iress_portfolio_cash_detail.unsettled_sell_charges %>
</p>

<p>
  <strong>Yesterday equity sell value:</strong>
  <%= @iress_portfolio_cash_detail.yesterday_equity_sell_value %>
</p>

<p>
  <strong>Yesterday equity sell charges:</strong>
  <%= @iress_portfolio_cash_detail.yesterday_equity_sell_charges %>
</p>

<p>
  <strong>In market buy value:</strong>
  <%= @iress_portfolio_cash_detail.in_market_buy_value %>
</p>

<p>
  <strong>In market sell value:</strong>
  <%= @iress_portfolio_cash_detail.in_market_sell_value %>
</p>

<p>
  <strong>Net cash:</strong>
  <%= @iress_portfolio_cash_detail.net_cash %>
</p>

<p>
  <strong>Upload source:</strong>
  <%= @iress_portfolio_cash_detail.upload_source %>
</p>

<p>
  <strong>Option unsettled buy value:</strong>
  <%= @iress_portfolio_cash_detail.option_unsettled_buy_value %>
</p>

<p>
  <strong>Option unsettled buy charges:</strong>
  <%= @iress_portfolio_cash_detail.option_unsettled_buy_charges %>
</p>

<p>
  <strong>Option unsettled sell value:</strong>
  <%= @iress_portfolio_cash_detail.option_unsettled_sell_value %>
</p>

<p>
  <strong>Option unsettled sell charges:</strong>
  <%= @iress_portfolio_cash_detail.option_unsettled_sell_charges %>
</p>

<p>
  <strong>Clearing house margin:</strong>
  <%= @iress_portfolio_cash_detail.clearing_house_margin %>
</p>

<p>
  <strong>External value:</strong>
  <%= @iress_portfolio_cash_detail.external_value %>
</p>

<p>
  <strong>Net unsettled buy value today:</strong>
  <%= @iress_portfolio_cash_detail.net_unsettled_buy_value_today %>
</p>

<p>
  <strong>Net unsettled sell value today:</strong>
  <%= @iress_portfolio_cash_detail.net_unsettled_sell_value_today %>
</p>

<p>
  <strong>Net unsettled value today:</strong>
  <%= @iress_portfolio_cash_detail.net_unsettled_value_today %>
</p>

<p>
  <strong>Glv:</strong>
  <%= @iress_portfolio_cash_detail.glv %>
</p>

<p>
  <strong>Free equity:</strong>
  <%= @iress_portfolio_cash_detail.free_equity %>
</p>

<p>
  <strong>Total initial margin:</strong>
  <%= @iress_portfolio_cash_detail.total_initial_margin %>
</p>

<p>
  <strong>Total cfd realised profit:</strong>
  <%= @iress_portfolio_cash_detail.total_cfd_realised_profit %>
</p>

<p>
  <strong>Total cfd unrealised profit:</strong>
  <%= @iress_portfolio_cash_detail.total_cfd_unrealised_profit %>
</p>

<p>
  <strong>Total cfd collateral value:</strong>
  <%= @iress_portfolio_cash_detail.total_cfd_collateral_value %>
</p>

<p>
  <strong>Total non cfd market value:</strong>
  <%= @iress_portfolio_cash_detail.total_non_cfd_market_value %>
</p>

<p>
  <strong>Realized loss start of day value:</strong>
  <%= @iress_portfolio_cash_detail.realized_loss_start_of_day_value %>
</p>

<p>
  <strong>Margin lender total financed value:</strong>
  <%= @iress_portfolio_cash_detail.margin_lender_total_financed_value %>
</p>

<p>
  <strong>Trust balance:</strong>
  <%= @iress_portfolio_cash_detail.trust_balance %>
</p>

<p>
  <strong>Total cfd realized profit in settlement currency:</strong>
  <%= @iress_portfolio_cash_detail.total_cfd_realized_profit_in_settlement_currency %>
</p>

<%= link_to 'Edit', edit_iress_portfolio_cash_detail_path(@iress_portfolio_cash_detail) %> |
<%= link_to 'Back', iress_portfolio_cash_details_path %>
