<%= form_with(model: portfolio_valuation, local: true) do |form| %>
  <% if portfolio_valuation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio_valuation.errors.count, "error") %> prohibited this portfolio_valuation from being saved:</h2>

      <ul>
      <% portfolio_valuation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valuation_date %>
    <%= form.datetime_select :valuation_date %>
  </div>

  <div class="field">
    <%= form.label :fund_account %>
    <%= form.number_field :fund_account %>
  </div>

  <div class="field">
    <%= form.label :fund_name %>
    <%= form.text_field :fund_name %>
  </div>

  <div class="field">
    <%= form.label :instrument_type %>
    <%= form.text_field :instrument_type %>
  </div>

  <div class="field">
    <%= form.label :instrument_code %>
    <%= form.text_field :instrument_code %>
  </div>

  <div class="field">
    <%= form.label :instrument_version %>
    <%= form.number_field :instrument_version %>
  </div>

  <div class="field">
    <%= form.label :currency_code %>
    <%= form.text_field :currency_code %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :wac_native %>
    <%= form.text_field :wac_native %>
  </div>

  <div class="field">
    <%= form.label :bda_branch_code %>
    <%= form.text_field :bda_branch_code %>
  </div>

  <div class="field">
    <%= form.label :bda_partner_code %>
    <%= form.text_field :bda_partner_code %>
  </div>

  <div class="field">
    <%= form.label :instrument_code_name %>
    <%= form.text_field :instrument_code_name %>
  </div>

  <div class="field">
    <%= form.label :isin %>
    <%= form.text_field :isin %>
  </div>

  <div class="field">
    <%= form.label :sector %>
    <%= form.text_field :sector %>
  </div>

  <div class="field">
    <%= form.label :industry %>
    <%= form.text_field :industry %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
