<p id="notice"><%= notice %></p>

<h1>Portfolio Valuations</h1>

<table>
  <thead>
    <tr>
      <th>Valuation date</th>
      <th>Fund account</th>
      <th>Fund name</th>
      <th>Instrument type</th>
      <th>Instrument code</th>
      <th>Instrument version</th>
      <th>Currency code</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Wac native</th>
      <th>Bda branch code</th>
      <th>Bda partner code</th>
      <th>Instrument code name</th>
      <th>Isin</th>
      <th>Sector</th>
      <th>Industry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_valuations.each do |portfolio_valuation| %>
      <tr>
        <td><%= portfolio_valuation.valuation_date %></td>
        <td><%= portfolio_valuation.fund_account %></td>
        <td><%= portfolio_valuation.fund_name %></td>
        <td><%= portfolio_valuation.instrument_type %></td>
        <td><%= portfolio_valuation.instrument_code %></td>
        <td><%= portfolio_valuation.instrument_version %></td>
        <td><%= portfolio_valuation.currency_code %></td>
        <td><%= portfolio_valuation.quantity %></td>
        <td><%= portfolio_valuation.price %></td>
        <td><%= portfolio_valuation.wac_native %></td>
        <td><%= portfolio_valuation.bda_branch_code %></td>
        <td><%= portfolio_valuation.bda_partner_code %></td>
        <td><%= portfolio_valuation.instrument_code_name %></td>
        <td><%= portfolio_valuation.isin %></td>
        <td><%= portfolio_valuation.sector %></td>
        <td><%= portfolio_valuation.industry %></td>
        <td><%= link_to 'Show', portfolio_valuation %></td>
        <td><%= link_to 'Edit', edit_portfolio_valuation_path(portfolio_valuation) %></td>
        <td><%= link_to 'Destroy', portfolio_valuation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio Valuation', new_portfolio_valuation_path %>
