<p id="notice"><%= notice %></p>

<p>
  <strong>Valuation date:</strong>
  <%= @portfolio_valuation.valuation_date %>
</p>

<p>
  <strong>Fund account:</strong>
  <%= @portfolio_valuation.fund_account %>
</p>

<p>
  <strong>Fund name:</strong>
  <%= @portfolio_valuation.fund_name %>
</p>

<p>
  <strong>Instrument type:</strong>
  <%= @portfolio_valuation.instrument_type %>
</p>

<p>
  <strong>Instrument code:</strong>
  <%= @portfolio_valuation.instrument_code %>
</p>

<p>
  <strong>Instrument version:</strong>
  <%= @portfolio_valuation.instrument_version %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @portfolio_valuation.currency_code %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @portfolio_valuation.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @portfolio_valuation.price %>
</p>

<p>
  <strong>Wac native:</strong>
  <%= @portfolio_valuation.wac_native %>
</p>

<p>
  <strong>Bda branch code:</strong>
  <%= @portfolio_valuation.bda_branch_code %>
</p>

<p>
  <strong>Bda partner code:</strong>
  <%= @portfolio_valuation.bda_partner_code %>
</p>

<p>
  <strong>Instrument code name:</strong>
  <%= @portfolio_valuation.instrument_code_name %>
</p>

<p>
  <strong>Isin:</strong>
  <%= @portfolio_valuation.isin %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @portfolio_valuation.sector %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @portfolio_valuation.industry %>
</p>

<%= link_to 'Edit', edit_portfolio_valuation_path(@portfolio_valuation) %> |
<%= link_to 'Back', portfolio_valuations_path %>
