<%= form_with(model: client_information, local: true) do |form| %>
  <% if client_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_information.errors.count, "error") %> prohibited this client_information from being saved:</h2>

      <ul>
      <% client_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fund_account %>
    <%= form.number_field :fund_account %>
  </div>

  <div class="field">
    <%= form.label :fund_name %>
    <%= form.text_field :fund_name %>
  </div>

  <div class="field">
    <%= form.label :bda_branch_code %>
    <%= form.text_field :bda_branch_code %>
  </div>

  <div class="field">
    <%= form.label :take_on_date %>
    <%= form.datetime_select :take_on_date %>
  </div>

  <div class="field">
    <%= form.label :client_title %>
    <%= form.text_field :client_title %>
  </div>

  <div class="field">
    <%= form.label :client_initials %>
    <%= form.text_field :client_initials %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :client_surname %>
    <%= form.text_field :client_surname %>
  </div>

  <div class="field">
    <%= form.label :idno %>
    <%= form.text_field :idno %>
  </div>

  <div class="field">
    <%= form.label :tel_no_1 %>
    <%= form.text_field :tel_no_1 %>
  </div>

  <div class="field">
    <%= form.label :tel_no_2 %>
    <%= form.text_field :tel_no_2 %>
  </div>

  <div class="field">
    <%= form.label :email_address %>
    <%= form.text_field :email_address %>
  </div>

  <div class="field">
    <%= form.label :tax_no %>
    <%= form.number_field :tax_no %>
  </div>

  <div class="field">
    <%= form.label :vat_no %>
    <%= form.number_field :vat_no %>
  </div>

  <div class="field">
    <%= form.label :address_line1 %>
    <%= form.text_field :address_line1 %>
  </div>

  <div class="field">
    <%= form.label :address_line2 %>
    <%= form.text_field :address_line2 %>
  </div>

  <div class="field">
    <%= form.label :address_line3 %>
    <%= form.text_field :address_line3 %>
  </div>

  <div class="field">
    <%= form.label :address_line4 %>
    <%= form.text_field :address_line4 %>
  </div>

  <div class="field">
    <%= form.label :postal %>
    <%= form.number_field :postal %>
  </div>

  <div class="field">
    <%= form.label :external_trading_account %>
    <%= form.text_field :external_trading_account %>
  </div>

  <div class="field">
    <%= form.label :cgt_individual %>
    <%= form.check_box :cgt_individual %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
