<p id="notice"><%= notice %></p>

<h1>Client Informations</h1>

<table>
  <thead>
    <tr>
      <th>Fund account</th>
      <th>Fund name</th>
      <th>Bda branch code</th>
      <th>Take on date</th>
      <th>Client title</th>
      <th>Client initials</th>
      <th>First name</th>
      <th>Client surname</th>
      <th>Idno</th>
      <th>Tel no 1</th>
      <th>Tel no 2</th>
      <th>Email address</th>
      <th>Tax no</th>
      <th>Vat no</th>
      <th>Address line1</th>
      <th>Address line2</th>
      <th>Address line3</th>
      <th>Address line4</th>
      <th>Postal</th>
      <th>External trading account</th>
      <th>Cgt individual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_informations.each do |client_information| %>
      <tr>
        <td><%= client_information.fund_account %></td>
        <td><%= client_information.fund_name %></td>
        <td><%= client_information.bda_branch_code %></td>
        <td><%= client_information.take_on_date %></td>
        <td><%= client_information.client_title %></td>
        <td><%= client_information.client_initials %></td>
        <td><%= client_information.first_name %></td>
        <td><%= client_information.client_surname %></td>
        <td><%= client_information.idno %></td>
        <td><%= client_information.tel_no_1 %></td>
        <td><%= client_information.tel_no_2 %></td>
        <td><%= client_information.email_address %></td>
        <td><%= client_information.tax_no %></td>
        <td><%= client_information.vat_no %></td>
        <td><%= client_information.address_line1 %></td>
        <td><%= client_information.address_line2 %></td>
        <td><%= client_information.address_line3 %></td>
        <td><%= client_information.address_line4 %></td>
        <td><%= client_information.postal %></td>
        <td><%= client_information.external_trading_account %></td>
        <td><%= client_information.cgt_individual %></td>
        <td><%= link_to 'Show', client_information %></td>
        <td><%= link_to 'Edit', edit_client_information_path(client_information) %></td>
        <td><%= link_to 'Destroy', client_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Information', new_client_information_path %>
