<p id="notice"><%= notice %></p>

<p>
  <strong>Fund account:</strong>
  <%= @client_information.fund_account %>
</p>

<p>
  <strong>Fund name:</strong>
  <%= @client_information.fund_name %>
</p>

<p>
  <strong>Bda branch code:</strong>
  <%= @client_information.bda_branch_code %>
</p>

<p>
  <strong>Take on date:</strong>
  <%= @client_information.take_on_date %>
</p>

<p>
  <strong>Client title:</strong>
  <%= @client_information.client_title %>
</p>

<p>
  <strong>Client initials:</strong>
  <%= @client_information.client_initials %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client_information.first_name %>
</p>

<p>
  <strong>Client surname:</strong>
  <%= @client_information.client_surname %>
</p>

<p>
  <strong>Idno:</strong>
  <%= @client_information.idno %>
</p>

<p>
  <strong>Tel no 1:</strong>
  <%= @client_information.tel_no_1 %>
</p>

<p>
  <strong>Tel no 2:</strong>
  <%= @client_information.tel_no_2 %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @client_information.email_address %>
</p>

<p>
  <strong>Tax no:</strong>
  <%= @client_information.tax_no %>
</p>

<p>
  <strong>Vat no:</strong>
  <%= @client_information.vat_no %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @client_information.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @client_information.address_line2 %>
</p>

<p>
  <strong>Address line3:</strong>
  <%= @client_information.address_line3 %>
</p>

<p>
  <strong>Address line4:</strong>
  <%= @client_information.address_line4 %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @client_information.postal %>
</p>

<p>
  <strong>External trading account:</strong>
  <%= @client_information.external_trading_account %>
</p>

<p>
  <strong>Cgt individual:</strong>
  <%= @client_information.cgt_individual %>
</p>

<%= link_to 'Edit', edit_client_information_path(@client_information) %> |
<%= link_to 'Back', client_informations_path %>
