<%= form_with(model: fx_rate, local: true) do |form| %>
  <% if fx_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fx_rate.errors.count, "error") %> prohibited this fx_rate from being saved:</h2>

      <ul>
      <% fx_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valuation_date %>
    <%= form.datetime_select :valuation_date %>
  </div>

  <div class="field">
    <%= form.label :source_currency %>
    <%= form.text_field :source_currency %>
  </div>

  <div class="field">
    <%= form.label :target_currency %>
    <%= form.text_field :target_currency %>
  </div>

  <div class="field">
    <%= form.label :exchange_rate %>
    <%= form.text_field :exchange_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
