<p id="notice"><%= notice %></p>

<h1>Fx Rates</h1>

<table>
  <thead>
    <tr>
      <th>Valuation date</th>
      <th>Source currency</th>
      <th>Target currency</th>
      <th>Exchange rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fx_rates.each do |fx_rate| %>
      <tr>
        <td><%= fx_rate.valuation_date %></td>
        <td><%= fx_rate.source_currency %></td>
        <td><%= fx_rate.target_currency %></td>
        <td><%= fx_rate.exchange_rate %></td>
        <td><%= link_to 'Show', fx_rate %></td>
        <td><%= link_to 'Edit', edit_fx_rate_path(fx_rate) %></td>
        <td><%= link_to 'Destroy', fx_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fx Rate', new_fx_rate_path %>
