<p id="notice"><%= notice %></p>

<p>
  <strong>Valuation date:</strong>
  <%= @fx_rate.valuation_date %>
</p>

<p>
  <strong>Source currency:</strong>
  <%= @fx_rate.source_currency %>
</p>

<p>
  <strong>Target currency:</strong>
  <%= @fx_rate.target_currency %>
</p>

<p>
  <strong>Exchange rate:</strong>
  <%= @fx_rate.exchange_rate %>
</p>

<%= link_to 'Edit', edit_fx_rate_path(@fx_rate) %> |
<%= link_to 'Back', fx_rates_path %>
