<%= form_with(model: profit_and_loss, local: true) do |form| %>
  <% if profit_and_loss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profit_and_loss.errors.count, "error") %> prohibited this profit_and_loss from being saved:</h2>

      <ul>
      <% profit_and_loss.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_datetime %>
    <%= form.text_field :date_datetime %>
  </div>

  <div class="field">
    <%= form.label :fund_account %>
    <%= form.number_field :fund_account %>
  </div>

  <div class="field">
    <%= form.label :inflow %>
    <%= form.text_field :inflow %>
  </div>

  <div class="field">
    <%= form.label :outflow %>
    <%= form.text_field :outflow %>
  </div>

  <div class="field">
    <%= form.label :nav %>
    <%= form.text_field :nav %>
  </div>

  <div class="field">
    <%= form.label :opening_balance %>
    <%= form.text_field :opening_balance %>
  </div>

  <div class="field">
    <%= form.label :closing_balance %>
    <%= form.text_field :closing_balance %>
  </div>

  <div class="field">
    <%= form.label :daily_pnl %>
    <%= form.text_field :daily_pnl %>
  </div>

  <div class="field">
    <%= form.label :cum_pnl %>
    <%= form.text_field :cum_pnl %>
  </div>

  <div class="field">
    <%= form.label :daily_percent %>
    <%= form.text_field :daily_percent %>
  </div>

  <div class="field">
    <%= form.label :cum_percent %>
    <%= form.text_field :cum_percent %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
