<p id="notice"><%= notice %></p>

<p>
  <strong>Date datetime:</strong>
  <%= @profit_and_loss.date_datetime %>
</p>

<p>
  <strong>Fund account:</strong>
  <%= @profit_and_loss.fund_account %>
</p>

<p>
  <strong>Inflow:</strong>
  <%= @profit_and_loss.inflow %>
</p>

<p>
  <strong>Outflow:</strong>
  <%= @profit_and_loss.outflow %>
</p>

<p>
  <strong>Nav:</strong>
  <%= @profit_and_loss.nav %>
</p>

<p>
  <strong>Opening balance:</strong>
  <%= @profit_and_loss.opening_balance %>
</p>

<p>
  <strong>Closing balance:</strong>
  <%= @profit_and_loss.closing_balance %>
</p>

<p>
  <strong>Daily pnl:</strong>
  <%= @profit_and_loss.daily_pnl %>
</p>

<p>
  <strong>Cum pnl:</strong>
  <%= @profit_and_loss.cum_pnl %>
</p>

<p>
  <strong>Daily percent:</strong>
  <%= @profit_and_loss.daily_percent %>
</p>

<p>
  <strong>Cum percent:</strong>
  <%= @profit_and_loss.cum_percent %>
</p>

<%= link_to 'Edit', edit_profit_and_loss_path(@profit_and_loss) %> |
<%= link_to 'Back', profit_and_losses_path %>
