<p id="notice"><%= notice %></p>

<h1>Cash Flow Sub Types</h1>

<table>
  <thead>
    <tr>
      <th>Cash flow</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cash_flow_sub_types.each do |cash_flow_sub_type| %>
      <tr>
        <td><%= cash_flow_sub_type.cash_flow_id %></td>
        <td><%= cash_flow_sub_type.description %></td>
        <td><%= link_to 'Show', cash_flow_sub_type %></td>
        <td><%= link_to 'Edit', edit_cash_flow_sub_type_path(cash_flow_sub_type) %></td>
        <td><%= link_to 'Destroy', cash_flow_sub_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cash Flow Sub Type', new_cash_flow_sub_type_path %>
