<p id="notice"><%= notice %></p>

<p>
  <strong>Cash flow:</strong>
  <%= @cash_flow_sub_type.cash_flow_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cash_flow_sub_type.description %>
</p>

<%= link_to 'Edit', edit_cash_flow_sub_type_path(@cash_flow_sub_type) %> |
<%= link_to 'Back', cash_flow_sub_types_path %>
