<template>
	<div>

		<div class="row">
    <div class="card col-md-4" style="height:100px;width:100px">
      <h3 style="text-align:center;font-weight:bold">Select Fund Account</h3>
        <multiselect  
          @remove="removeAccount" 
          @select="addTag" 
          v-model="accountValues"
          :closeOnSelect="true"
          :options="accounts"
          :multiple="true"
          :close-on-select="false"
          :clear-on-select="false" 
          :preserve-search="true"
          :searchable="true" 
          style="color:white"
          label="name"
          track-by="name"
          :preselect-first="false">
    </multiselect>
    </div>

    <div class="card col-md-4" style="height:100px;width:100px">
      <date-range-picker 
        :startDate="startDate1" 
        :endDate="endDate1" 
        @update="console.log(value)"
        :locale-data="locale"
    >
    <!--Optional scope for the input displaying the dates -->
      </date-range-picker>
    
    </div>

    <div class="card col-md-4" style="height:100px;width:100px">
      <h3 style="text-align:center;font-weight:bold">Filter Dates</h3>
      <div class="row" style="margin-top: 0px;margin-left: 20%;display: flex;">
        <datepicker :placeholder="'Start Date'" @selected="getStartDate" :format="'yyyy-MM-dd'"></datepicker>
        <datepicker style="margin-left:5%" :placeholder="'End Date'" @selected="getEndDate" :format="'yyyy-MM-dd'"></datepicker>
      </div>
    </div>
  </div>
	<br>

    <table class="table" style="background-color:rgba(0,0,0,0);border-radius: 10px">
			<thead>
        <tr>
        <th style="font-weight:bold">Date datetime</th>
        <th style="font-weight:bold">Fund account</th>
        <th style="font-weight:bold">Inflow</th>
        <th style="font-weight:bold">Outflow</th>
        <th style="font-weight:bold">Nav</th>
        <th style="font-weight:bold">Opening balance</th>
        <th style="font-weight:bold">Closing balance</th>
        <th style="font-weight:bold">Daily pnl</th>
        <th style="font-weight:bold">Cum pnl</th>
        <th style="font-weight:bold">Daily percent</th>
        <th style="font-weight:bold">Cum percent</th>
        <th style="font-weight:bold" colspan="3"></th>
        </tr>
			</thead>

			<tbody>
				<tr v-for="pnl in profit_and_loss"  :key="pnl.id">
					<td>{{pnl.date.substring(0,10)}}</td>
					<td>{{ pnl.fund_account }}</td>
					<td>{{ pnl.inflow }}</td>
					<td>{{ pnl.outflow }}</td>
					<td>{{ pnl.nav }}</td>
					<td>{{ pnl.opening_balance }}</td>
					<td :class="[ pnl.closing_balance >= 0 ? 'font-green' : 'font-red' ]">{{ pnl.closing_balance }}</td>
					<td :class="[ pnl.daily_pnl >= 0 ? 'font-green' : 'font-red' ]">{{ pnl.daily_pnl }}</td>
					<td :class="[ pnl.cum_pnl >= 0 ? 'font-green' : 'font-red' ]">{{ pnl.cum_pnl }}</td>
					<td>{{ pnl.daily_percent }}</td>
					<td>{{ pnl.cum_percent }}</td>
				</tr>
			</tbody>

    </table>
    <br>
</div>

</template>
<script>

import VueSingleSelect from "vue-single-select";
import Trend from 'vuetrend';
import Bars from 'vuebars';
import Datepicker from 'vuejs-datepicker';
import Multiselect from 'vue-multiselect';
import DateRangePicker from 'vue2-daterange-picker';
import VueMoment from 'vue-moment'
import moment from 'moment'

export default {
  props: ["profitandloss", "fundAccounts"],
  
  components: {VueSingleSelect, Trend, Bars, Datepicker, Multiselect, DateRangePicker, moment},
  data: function() {
    return {
      selectedDate: '',
      dropdownValue: "Heya",
			accounts: this.fundAccounts,
			accountPlaceholder: "Select account",
      placeholder: "Please select an option",
      accountDescription: '',
			accountNumber: 0,
			filterDates: false,
			filterStartDates: false,
			filterEndDates: false,
			startDate: 0,
			endDate: 0,
      accountValues: [],
      accountSearchValues: [],
      startDate1: '2017-09-05',
      endDate1: '2017-09-15',
      locale: {
          direction: 'ltr', //direction of text
          format: 'DD-MM-YYYY', //fomart of the dates displayed
          separator: ' - ', //separator between the two ranges
          applyLabel: 'Apply',
          cancelLabel: 'Cancel',
          weekLabel: 'W',
          customRangeLabel: 'Custom Range',
          daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
          monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
          firstDay: 1 //ISO first day of week - see moment documenations for details
      }
    }
  },
  methods: {    
		addTag (filteredAccount) {
      this.accountSearchValues.push(filteredAccount.name)
    },
    removeAccount (accountNumber) {
      var updatedAccountSearchValues = this.accountSearchValues
      var index = updatedAccountSearchValues.indexOf(accountNumber.name)
      if(index > 0) {
        updatedAccountSearchValues[index] = ""
      }
      console.log(this.accountSearchValues)
      return this.accountSearchValues = updatedAccountSearchValues 
    },
		getStartDate (event) {
      this.filterDates = true
      this.filterStartDates = true

      var year = event.getFullYear().toString()
      var month = event.getMonth() + 1
      if (month < 10) {
        month = "0" + month.toString()
      } else {
        month = month.toString()
      }
      var day = event.getDate()
      if( day < 10) {
        day = "0" + day.toString()
      } else {
        day = day.toString()
      }
      var dateInt = parseInt( year + month + day)
      console.log(parseInt( year + month + day))
      this.startDate = dateInt
    },
    getEndDate (event) {
      this.filterEndDates = true
      console.log(event)

      var year = event.getFullYear().toString()
      var month = event.getMonth() + 1
      if (month < 10) {
        month = "0" + month.toString()
      } else {
        month = month.toString()
      }
      var day = event.getDate()
      if( day < 10) {
        day = "0" + day.toString()
      } else {
        day = day.toString()
      }
      var dateInt = parseInt( year + month + day)
      console.log(parseInt( year + month + day))
      this.endDate = dateInt
    }
  },
  computed: {
    profit_and_loss () {
      // filter only by account
      if (this.accountSearchValues.length !== 0 && this.filterDates == false) {
        var searchFilters = []
        var searchValues = this.accountSearchValues
        this.profitandloss.filter(function(pnls) {
          if (searchValues.indexOf(pnls.fund_account) >= 0) searchFilters.push(pnls)
        })
        return searchFilters
      // Filter only by dates only
      } else if (this.filterStartDates == true && this.filterEndDates == false && this.accountSearchValues.length <= 0) {
        var filteredDate = []
        var start = this.startDate
        var searchValues = this.accountSearchValues
        this.profitandloss.filter(function(pnls) {
          var stringYear = pnls.date.substring(0,10)
          var year = stringYear.substring(0,4)
          var month = stringYear.substring(5,7)
          var day = stringYear.substring(8,10)
          var yearInt = parseInt(year+month+day)
          if (start <= yearInt) filteredDate.push(pnls)
        })
        return filteredDate
      // filter by start date and account search
      } else if (this.accountSearchValues.length !== 0 && this.filterStartDates == true && this.filterEndDates == false ) {
        var filteredDate = []
        var accountNumber = this.accountNumber
        var searchValues = this.accountSearchValues
        var start = this.startDate
        this.profitandloss.filter(function(pnls) {
          var stringYear = pnls.date.substring(0,10)
          var year = stringYear.substring(0,4)
          var month = stringYear.substring(5,7)
          var day = stringYear.substring(8,10)
          var yearInt = parseInt(year+month+day)
          if ((start <= yearInt) && (searchValues.indexOf(pnls.fund_account) >= 0)) filteredDate.push(pnls)
        })
        return filteredDate.orderBy(filteredDate, 'inflow')
      // filter by start dates, end date and account seatrch
      } else if (this.filterStartDates == true  && this.filterEndDates == true && this.accountSearchValues.length !== 0) {
        var filteredDate = []
        var start = this.startDate
        var end = this.endDate
        var searchValues = this.accountSearchValues
        this.profitandloss.filter(function(pnls) {
          var stringYear = pnls.date.substring(0,10)
          var year = stringYear.substring(0,4)
          var month = stringYear.substring(5,7)
          var day = stringYear.substring(8,10)
          var yearInt = parseInt(year+month+day)
          if (start <= yearInt && end >= yearInt && (searchValues.indexOf(pnls.fund_account) >= 0)) filteredDate.push(pnls)
        })
        return filteredDate
      } else if (this.accountSearchValues.length !== 0) {
        return this.profitandloss
      } else {
        return this.profitandloss
      }
		}
		
    }
  }

</script>



<style>

input {
  background-color: #636363;
  color: white;
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 2px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.font-red {
  color: #E6512F

}
.font-green {
  color: #21ce99

}

h3 {
  color:#21CE99
}

.card {
  background-color: rgba(0,0,0,0)
}

td {
  color: white
}

th {
  color: white
}

.multiselect {  
  margin-top: 2%;
  z-index: 1000;
  border-radius: 4px;
  height: 31px;
  border-bottom: white;
  border-bottom-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  color:gray;
}

.multiselect__content-wrapper {
  max-height: 300px !important;
  background-color: #636363;
  color:white;
  overflow-x: none;
  overflow-y: scroll;
  width: 30%
}

.multiselect__option   {
  list-style: none;
  width: 100%;
  overflow-y: scroll;
  color: #636363;
  font-weight: bold;
  margin-left: 10%;
  cursor: pointer;
  
}

.multiselect__option:hover {
  color: #21CE99 
}

.multiselect__content   {
  list-style: none;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  color: #636363;

}

.multiselect__input {
  /* display: none */
  background-color: rgba(0,0,0,0);
  color: white;
  width: 90%
}

.multiselect__element  {
  margin-left: -8.2%;
}

.multiselect__content-wrapper {
  background-color: white;
  overflow-y: scroll
}

.multiselect__tag {
  color: #21CE99 !important;
  border-radius: 10px !important;
  color:gray;
  font-weight: bold !important;
  font-size: 14px !important;
  margin-left: 2% !important;
  background-color: #2A695E !important;
  padding: 5px;
}

li .multiselect__element:hover {
  background-color: lightgrey
}


#single-select {
  background-color: #636363;;
  color: white;
}

.dropdown{
  background-color: #6f7775;
  color: #21CE99;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    padding: 12px 8px;
    vertical-align: middle;
    font-weight: bold;
}

tr > td {
    padding: 12px 8px;
    vertical-align: middle;
    border-bottom: black;
    border-style: solid;
    border-right: none;
    border-left: none;
}

tr > td:hover {
  border-color: #21CE99
}

tbody > tr:hover {
  border-color: #21CE99
}

</style>



</style>
