<p id="notice"><%= notice %></p>

<h1>Prices</h1>

<table>
  <thead>
    <tr>
      <th>Exchange</th>
      <th>Instrument code</th>
      <th>Currency code</th>
      <th>Price</th>
      <th>Valuation date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td><%= price.exchange %></td>
        <td><%= price.instrument_code %></td>
        <td><%= price.currency_code %></td>
        <td><%= price.price %></td>
        <td><%= price.valuation_date %></td>
        <td><%= link_to 'Show', price %></td>
        <td><%= link_to 'Edit', edit_price_path(price) %></td>
        <td><%= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price', new_price_path %>
