<p id="notice"><%= notice %></p>

<p>
  <strong>Exchange:</strong>
  <%= @price.exchange %>
</p>

<p>
  <strong>Instrument code:</strong>
  <%= @price.instrument_code %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @price.currency_code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @price.price %>
</p>

<p>
  <strong>Valuation date:</strong>
  <%= @price.valuation_date %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
