<%= form_with(model: financial_transaction, local: true) do |form| %>
  <% if financial_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_transaction.errors.count, "error") %> prohibited this financial_transaction from being saved:</h2>

      <ul>
      <% financial_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.number_field :transaction_id %>
  </div>

  <div class="field">
    <%= form.label :fund_account %>
    <%= form.number_field :fund_account %>
  </div>

  <div class="field">
    <%= form.label :fund_name %>
    <%= form.text_field :fund_name %>
  </div>

  <div class="field">
    <%= form.label :transaction_date_time %>
    <%= form.datetime_select :transaction_date_time %>
  </div>

  <div class="field">
    <%= form.label :transaction_code %>
    <%= form.number_field :transaction_code %>
  </div>

  <div class="field">
    <%= form.label :currency_code %>
    <%= form.text_field :currency_code %>
  </div>

  <div class="field">
    <%= form.label :cash_account %>
    <%= form.number_field :cash_account %>
  </div>

  <div class="field">
    <%= form.label :value_date %>
    <%= form.datetime_select :value_date %>
  </div>

  <div class="field">
    <%= form.label :pay_date %>
    <%= form.datetime_select :pay_date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :transaction_description %>
    <%= form.text_field :transaction_description %>
  </div>

  <div class="field">
    <%= form.label :reversal %>
    <%= form.text_field :reversal %>
  </div>

  <div class="field">
    <%= form.label :reversed_transaction_id %>
    <%= form.number_field :reversed_transaction_id %>
  </div>

  <div class="field">
    <%= form.label :bdabranch_code %>
    <%= form.text_field :bdabranch_code %>
  </div>

  <div class="field">
    <%= form.label :bdapartner_code %>
    <%= form.text_field :bdapartner_code %>
  </div>

  <div class="field">
    <%= form.label :instrument_code %>
    <%= form.text_field :instrument_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
