<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @financial_transaction.transaction_id %>
</p>

<p>
  <strong>Fund account:</strong>
  <%= @financial_transaction.fund_account %>
</p>

<p>
  <strong>Fund name:</strong>
  <%= @financial_transaction.fund_name %>
</p>

<p>
  <strong>Transaction date time:</strong>
  <%= @financial_transaction.transaction_date_time %>
</p>

<p>
  <strong>Transaction code:</strong>
  <%= @financial_transaction.transaction_code %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @financial_transaction.currency_code %>
</p>

<p>
  <strong>Cash account:</strong>
  <%= @financial_transaction.cash_account %>
</p>

<p>
  <strong>Value date:</strong>
  <%= @financial_transaction.value_date %>
</p>

<p>
  <strong>Pay date:</strong>
  <%= @financial_transaction.pay_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @financial_transaction.amount %>
</p>

<p>
  <strong>Transaction description:</strong>
  <%= @financial_transaction.transaction_description %>
</p>

<p>
  <strong>Reversal:</strong>
  <%= @financial_transaction.reversal %>
</p>

<p>
  <strong>Reversed transaction:</strong>
  <%= @financial_transaction.reversed_transaction_id %>
</p>

<p>
  <strong>Bdabranch code:</strong>
  <%= @financial_transaction.bdabranch_code %>
</p>

<p>
  <strong>Bdapartner code:</strong>
  <%= @financial_transaction.bdapartner_code %>
</p>

<p>
  <strong>Instrument code:</strong>
  <%= @financial_transaction.instrument_code %>
</p>

<%= link_to 'Edit', edit_financial_transaction_path(@financial_transaction) %> |
<%= link_to 'Back', financial_transactions_path %>
