<template>
<div>
<!-- <div v-if="barGraph == false" style="padding-bottom:50px;">
  <trend
    :data="graphData"
    auto-draw
    smooth
    :gradient="['#6fa8dc', '#42b983']">
  </trend>
</div>

<div v-if="barGraph == true">
  <bars
    :data="graphData"
    :gradient="['#ffbe88', '#ff93df']"
    :barWidth="0.5"
    :growDuration="5">
  </bars>
</div>
<div class="btn btn-info" format="YY-MM-DD-HH-MM-SS" @click="barGraph = !barGraph">Switch Graph</div>

  <div class="row" margin-top>
    <vue-single-select
      v-model="accountNumber"
      :options="accounts"
      :required="false"
      @mousedown="printDropdown"
      style="width:20%;background-color: rgba:(0,0,0,0)"
      placeholder="Select Account Number"
    ></vue-single-select>
    <vue-single-select
      v-model="accountDescription"
      :options="cashAccounts"
      :required="false"
      @click="printDropdown"
      style="width:20%"
    ></vue-single-select>
    <datepicker :format="customFormatter"></datepicker>
  </div>
  {{selectedDate}} -->
<table class="table" style="background-color:rgba(0,0,0,0);border-radius: 10px">
  <thead>
    <tr>
      <th>Portfolio code</th>
      <th>Portfolio cash code</th>
      <th>Portfolio cash name</th>
      <th>Currency code</th>
      <th>Cash balance</th>
      <th>Unsettled buy value</th>
      <th>Unsettled buy charges</th>
      <th>Unsettled sell value</th>
      <th>Unsettled sell charges</th>
      <th>Yesterday equity sell value</th>
      <th>Yesterday equity sell charges</th>
      <th>In market buy value</th>
      <th>In market sell value</th>
      <th>Net cash</th>
      <th>Upload source</th>
      <th>Option unsettled buy value</th>
      <th>Option unsettled buy charges</th>
      <th>Option unsettled sell value</th>
      <th>Option unsettled sell charges</th>
      <th>Clearing house margin</th>
      <th>External value</th>
      <th>Net unsettled buy value today</th>
      <th>Net unsettled sell value today</th>
      <th>Net unsettled value today</th>
      <th>Glv</th>
      <th>Free equity</th>
      <th>Total initial margin</th>
      <th>Total cfd realised profit</th>
      <th>Total cfd unrealised profit</th>
      <th>Total cfd collateral value</th>
      <th>Total non cfd market value</th>
      <th>Realized loss start of day value</th>
      <th>Margin lender total financed value</th>
      <th>Trust balance</th>
      <th>Total cfd realized profit in settlement currency</th>
    </tr>
  </thead>

  <tbody>
     <tr v-for="transaction in iress_transactions">
        <td>{{ transaction.portfolio_code }}</td>
        <td>{{ transaction.portfolio_cash_code }}</td>
        <td>{{ transaction.portfolio_cash_name }}</td>
        <td>{{ transaction.currency_code }}</td>
        <td class="font-green">{{ transaction.cash_balance }}</td>
        <td class="font-red">{{ transaction.unsettled_buy_value }}</td>
        <td>{{ transaction.unsettled_buy_charges }}</td>
        <td>{{ transaction.unsettled_sell_value }}</td>
        <td>{{ transaction.unsettled_sell_charges }}</td>
        <td>{{ transaction.yesterday_equity_sell_value }}</td>
        <td>{{ transaction.yesterday_equity_sell_charges }}</td>
        <td class="font-red">{{ transaction.in_market_buy_value }}</td>
        <td>{{ transaction.in_market_sell_value }}</td>
        <td>{{ transaction.net_cash }}</td>
        <td>{{ transaction.upload_source }}</td>
        <td class="font-red">{{ transaction.option_unsettled_buy_value }}</td>
        <td>{{ transaction.option_unsettled_buy_charges }}</td>
        <td>{{ transaction.option_unsettled_sell_value }}</td>
        <td>{{ transaction.option_unsettled_sell_charges }}</td>
        <td>{{ transaction.clearing_house_margin }}</td>
        <td class="font-red">{{ transaction.external_value }}</td>
        <td>{{ transaction.net_unsettled_buy_value_today }}</td>
        <td>{{ transaction.net_unsettled_sell_value_today }}</td>
        <td>{{ transaction.net_unsettled_value_today }}</td>
        <td>{{ transaction.glv }}</td>
        <td>{{ transaction.free_equity }}</td>
        <td class="font-red">{{ transaction.total_initial_margin }}</td>
        <td>{{ transaction.total_cfd_realised_profit }}</td>
        <td>{{ transaction.total_cfd_unrealised_profit }}</td>
        <td>{{ transaction.total_cfd_collateral_value }}</td>
        <td>{{ transaction.total_non_cfd_market_value }}</td>
        <td>{{ transaction.realized_loss_start_of_day_value }}</td>
        <td>{{ transaction.margin_lender_total_financed_value }}</td>
        <td>{{ transaction.trust_balance }}</td>
        <td>{{ transaction.total_cfd_realized_profit_in_settlement_currency }}</td>
      </tr>
  </tbody>
</table>

  <div class="btn btn-default">Load More</div>
  </div>
</template>



<script>
import VueSingleSelect from "vue-single-select";
import Trend from "vuetrend";
import Bars from "vuebars";
import Datepicker from "vuejs-datepicker";

export default {
  props: ["transactions"],
  components: { VueSingleSelect, Trend, Bars, Datepicker },
  data: function() {
    return {
      iress_transactions: this.transactions
    };
  },
  methods: {},

  computed: {}
};
</script>



<style scoped>
#single-select {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.dropdown {
  background-color: #6f6f7a;
  color: white;
}

th {
  text-align: center;
  min-width: 80px;
}
</style>
