<%= form_with(model: instrument, local: true) do |form| %>
  <% if instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
      <% instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valuation_date %>
    <%= form.datetime_select :valuation_date %>
  </div>

  <div class="field">
    <%= form.label :exchange %>
    <%= form.text_field :exchange %>
  </div>

  <div class="field">
    <%= form.label :instrument_code %>
    <%= form.text_field :instrument_code %>
  </div>

  <div class="field">
    <%= form.label :currency_code %>
    <%= form.text_field :currency_code %>
  </div>

  <div class="field">
    <%= form.label :isin %>
    <%= form.text_field :isin %>
  </div>

  <div class="field">
    <%= form.label :sedol %>
    <%= form.text_field :sedol %>
  </div>

  <div class="field">
    <%= form.label :instrument_name %>
    <%= form.text_field :instrument_name %>
  </div>

  <div class="field">
    <%= form.label :sector %>
    <%= form.text_field :sector %>
  </div>

  <div class="field">
    <%= form.label :industry %>
    <%= form.text_field :industry %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
