<p id="notice"><%= notice %></p>

<h1>Instruments</h1>

<table>
  <thead>
    <tr>
      <th>Valuation date</th>
      <th>Exchange</th>
      <th>Instrument code</th>
      <th>Currency code</th>
      <th>Isin</th>
      <th>Sedol</th>
      <th>Instrument name</th>
      <th>Sector</th>
      <th>Industry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.valuation_date %></td>
        <td><%= instrument.exchange %></td>
        <td><%= instrument.instrument_code %></td>
        <td><%= instrument.currency_code %></td>
        <td><%= instrument.isin %></td>
        <td><%= instrument.sedol %></td>
        <td><%= instrument.instrument_name %></td>
        <td><%= instrument.sector %></td>
        <td><%= instrument.industry %></td>
        <td><%= link_to 'Show', instrument %></td>
        <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
        <td><%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrument', new_instrument_path %>
