<p id="notice"><%= notice %></p>

<p>
  <strong>Valuation date:</strong>
  <%= @instrument.valuation_date %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @instrument.exchange %>
</p>

<p>
  <strong>Instrument code:</strong>
  <%= @instrument.instrument_code %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @instrument.currency_code %>
</p>

<p>
  <strong>Isin:</strong>
  <%= @instrument.isin %>
</p>

<p>
  <strong>Sedol:</strong>
  <%= @instrument.sedol %>
</p>

<p>
  <strong>Instrument name:</strong>
  <%= @instrument.instrument_name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @instrument.sector %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @instrument.industry %>
</p>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
