<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @month_to_date.date %>
</p>

<p>
  <strong>Fund account:</strong>
  <%= @month_to_date.fund_account %>
</p>

<p>
  <strong>Value:</strong>
  <%= @month_to_date.value %>
</p>

<%= link_to 'Edit', edit_month_to_date_path(@month_to_date) %> |
<%= link_to 'Back', month_to_dates_path %>
