<%= form_with(model: deal_transaction, local: true) do |form| %>
  <% if deal_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal_transaction.errors.count, "error") %> prohibited this deal_transaction from being saved:</h2>

      <ul>
      <% deal_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transaction_id %>
    <%= form.number_field :transaction_id %>
  </div>

  <div class="field">
    <%= form.label :fund_account %>
    <%= form.number_field :fund_account %>
  </div>

  <div class="field">
    <%= form.label :fund_name %>
    <%= form.text_field :fund_name %>
  </div>

  <div class="field">
    <%= form.label :transaction_date_time %>
    <%= form.datetime_select :transaction_date_time %>
  </div>

  <div class="field">
    <%= form.label :trade_date %>
    <%= form.datetime_select :trade_date %>
  </div>

  <div class="field">
    <%= form.label :settlement_date %>
    <%= form.datetime_select :settlement_date %>
  </div>

  <div class="field">
    <%= form.label :currency_code %>
    <%= form.text_field :currency_code %>
  </div>

  <div class="field">
    <%= form.label :exchange %>
    <%= form.text_field :exchange %>
  </div>

  <div class="field">
    <%= form.label :instrument_version %>
    <%= form.number_field :instrument_version %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :transaction_cost %>
    <%= form.text_field :transaction_cost %>
  </div>

  <div class="field">
    <%= form.label :consideration %>
    <%= form.text_field :consideration %>
  </div>

  <div class="field">
    <%= form.label :cash_account %>
    <%= form.text_field :cash_account %>
  </div>

  <div class="field">
    <%= form.label :reversal %>
    <%= form.text_field :reversal %>
  </div>

  <div class="field">
    <%= form.label :reversed_transaction_id %>
    <%= form.number_field :reversed_transaction_id %>
  </div>

  <div class="field">
    <%= form.label :bda_branch_code %>
    <%= form.text_field :bda_branch_code %>
  </div>

  <div class="field">
    <%= form.label :bda_partner_code %>
    <%= form.text_field :bda_partner_code %>
  </div>

  <div class="field">
    <%= form.label :deal_source %>
    <%= form.text_field :deal_source %>
  </div>

  <div class="field">
    <%= form.label :isin %>
    <%= form.text_field :isin %>
  </div>

  <div class="field">
    <%= form.label :sector %>
    <%= form.text_field :sector %>
  </div>

  <div class="field">
    <%= form.label :industry %>
    <%= form.text_field :industry %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
