<p id="notice"><%= notice %></p>

<h1>Deal Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Fund account</th>
      <th>Fund name</th>
      <th>Transaction date time</th>
      <th>Trade date</th>
      <th>Settlement date</th>
      <th>Currency code</th>
      <th>Exchange</th>
      <th>Instrument version</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Transaction cost</th>
      <th>Consideration</th>
      <th>Cash account</th>
      <th>Reversal</th>
      <th>Reversed transaction</th>
      <th>Bda branch code</th>
      <th>Bda partner code</th>
      <th>Deal source</th>
      <th>Isin</th>
      <th>Sector</th>
      <th>Industry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deal_transactions.each do |deal_transaction| %>
      <tr>
        <td><%= deal_transaction.transaction_id %></td>
        <td><%= deal_transaction.fund_account %></td>
        <td><%= deal_transaction.fund_name %></td>
        <td><%= deal_transaction.transaction_date_time %></td>
        <td><%= deal_transaction.trade_date %></td>
        <td><%= deal_transaction.settlement_date %></td>
        <td><%= deal_transaction.currency_code %></td>
        <td><%= deal_transaction.exchange %></td>
        <td><%= deal_transaction.instrument_version %></td>
        <td><%= deal_transaction.quantity %></td>
        <td><%= deal_transaction.price %></td>
        <td><%= deal_transaction.transaction_cost %></td>
        <td><%= deal_transaction.consideration %></td>
        <td><%= deal_transaction.cash_account %></td>
        <td><%= deal_transaction.reversal %></td>
        <td><%= deal_transaction.reversed_transaction_id %></td>
        <td><%= deal_transaction.bda_branch_code %></td>
        <td><%= deal_transaction.bda_partner_code %></td>
        <td><%= deal_transaction.deal_source %></td>
        <td><%= deal_transaction.isin %></td>
        <td><%= deal_transaction.sector %></td>
        <td><%= deal_transaction.industry %></td>
        <td><%= link_to 'Show', deal_transaction %></td>
        <td><%= link_to 'Edit', edit_deal_transaction_path(deal_transaction) %></td>
        <td><%= link_to 'Destroy', deal_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal Transaction', new_deal_transaction_path %>
