<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction:</strong>
  <%= @deal_transaction.transaction_id %>
</p>

<p>
  <strong>Fund account:</strong>
  <%= @deal_transaction.fund_account %>
</p>

<p>
  <strong>Fund name:</strong>
  <%= @deal_transaction.fund_name %>
</p>

<p>
  <strong>Transaction date time:</strong>
  <%= @deal_transaction.transaction_date_time %>
</p>

<p>
  <strong>Trade date:</strong>
  <%= @deal_transaction.trade_date %>
</p>

<p>
  <strong>Settlement date:</strong>
  <%= @deal_transaction.settlement_date %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @deal_transaction.currency_code %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @deal_transaction.exchange %>
</p>

<p>
  <strong>Instrument version:</strong>
  <%= @deal_transaction.instrument_version %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @deal_transaction.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @deal_transaction.price %>
</p>

<p>
  <strong>Transaction cost:</strong>
  <%= @deal_transaction.transaction_cost %>
</p>

<p>
  <strong>Consideration:</strong>
  <%= @deal_transaction.consideration %>
</p>

<p>
  <strong>Cash account:</strong>
  <%= @deal_transaction.cash_account %>
</p>

<p>
  <strong>Reversal:</strong>
  <%= @deal_transaction.reversal %>
</p>

<p>
  <strong>Reversed transaction:</strong>
  <%= @deal_transaction.reversed_transaction_id %>
</p>

<p>
  <strong>Bda branch code:</strong>
  <%= @deal_transaction.bda_branch_code %>
</p>

<p>
  <strong>Bda partner code:</strong>
  <%= @deal_transaction.bda_partner_code %>
</p>

<p>
  <strong>Deal source:</strong>
  <%= @deal_transaction.deal_source %>
</p>

<p>
  <strong>Isin:</strong>
  <%= @deal_transaction.isin %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @deal_transaction.sector %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @deal_transaction.industry %>
</p>

<%= link_to 'Edit', edit_deal_transaction_path(@deal_transaction) %> |
<%= link_to 'Back', deal_transactions_path %>
