<!DOCTYPE html>
<html>
  <head>
    <title>Agcapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="background-color:#1B1B1D">
      <div class="container" style="margin-top:5%; margin-left: 10%;margin-right:5px; width: 80%">
        <%= yield %>
      </div>
    </body>
</html>
